@charset 'utf-8';

@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("ZenKurenaido-Regular.ttf") format("TrueType");
    }

html,body{
    margin: 0;
    font-family: 'Zenkurenaido', sans-serif;
}

/*footer*/
footer{
    background-color: #ffffe0;
    text-align: right;
}
/*@footer*/